<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>VetPaw</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
			integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
			integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY="
			crossorigin="anonymous"
		/>
		<link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png" />
		<link rel="manifest" href="../images/favicon/site.webmanifest" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="../../style.css" />
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row-between">
					<a href="home.html">
						<img src="../images/logo.svg" alt="VetPawLogo" />
					</a>
					<span class="fa fa-bars" id="nav-hamburger" aria-hidden="true"></span>
				</div>
				<nav>
					<a href="change.html">Change password</a>
					<a href="../../index.html" id="signOut" class="btn2">Sign Out</a>
				</nav>
			</div>
		</header>
		<main>
			<div class="container">
				<div class="row-wrap">
					<h1>Health log</h1>
					<div>
						<a href="addLog.html" class="btn pd2">Add Log</a>
						<a href="addPrescription.html" class="btn pd2">Add prescription</a>
					</div>
				</div>
				<div class="row-wrap nowrap">
					<h3>Display:</h3>
					<div>
						<button class="btn3 pd2 active" id="logFilterBtn">Logs</button>
						<button class="btn3 pd2 active" id="prescripFilterBtn">Prescriptions</button>
					</div>
				</div>
				<div class="content"></div>
			</div>
		</main>
		<script src="../scripts/hamburger.js"></script>
		<script src="../scripts/logs.js"></script>
		<script src="../scripts/signOut.js"></script>
	</body>
</html>
